<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Tin Tức</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Tin tức</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="container-fluid bor">
            <!-- title -->
            <div class="title_n">
                <div class="row">
                    <div class="col-md-10 titl_dm">
                        <label for="" class="title_edit"> Quản lý danh mục</label>
                    </div>
                    <div class="col-md-2 titl_dm1">
                        <a routerLink="create" type="button" class="btn btn-primary ceate" style="float: right;">
                            <i class="fa fa-plus" aria-hidden="true"></i> Thêm mới
                        </a>
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="title_type title_n">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group selecr_t">
                                    <label for="">Danh Mục</label>
                                    <select class="form-control" name="" id="">
                                                <option></option>

                                              </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group selecr_t">
                                    <label for="">Trạng Thái</label>
                                    <select class="form-control" name="" id="">
                                                <option>~~Tất cả~~</option>
                                                <option>2</option>
                                                <option>3</option>
                                              </select>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="row bt_search">
                            <div class="form-group">
                                <button type="button" class="btn btn-primary">
                              <i class="fa fa-search" aria-hidden="true"></i>Tìm Kiếm
                                  </button>
                            </div>


                        </div>
                    </div>
                </div>

            </div>

            <div class="table_b">
                <!-- /.card-header -->
                <div class="card-body">
                    <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_length" id="example1_length"><label>Show <select name="example1_length" aria-controls="example1" class="custom-select custom-select-sm form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div id="example1_filter" class="dataTables_filter">
                                    <label>Search:
                                  </label>
                                    <input type="search" class="form-control form-control-sm" placeholder="" aria-controls="example1">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 data_tbl">
                                <table id="example1" class="data_tb table table-bordered table-striped dataTable dtr-inline" role="grid" aria-describedby="example1_info">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">STT</th>
                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">ID</th>
                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Tiêu Đề</th>
                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">Danh mục cha</th>
                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Kích Hoạt</th>
                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Thao Tác</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- <tr role="row" class="odd" *ngFor="let item of danhmucs;let i=index">

                                            <td tabindex="0" class="sorting_1">{{i+1}}</td>
                                            <td>{{item.idCategory}}</td>
                                            <td>{{item.titleCategory}}</td>
                                            <td>{{item.tendanhmuc}}</td>
                                            <td *ngIf="item.trangthai=='1'">
                                                <div class="btn-group btn-group-sm t_bor">
                                                    <a href="#" class="btn btn-info-view" data-toggle="modal" data-target="#myModal">
                                                        <i class="far fa-eye"></i>
                                                    </a>
                                                </div>
                                            </td>
                                            <td *ngIf="item.trangthai!='1'">
                                                <div class="btn-group btn-group-sm t_bor">
                                                    <a href="#" class="btn btn-info" data-toggle="modal" data-target="#myModal">
                                                        <i class="fa fa-eye-slash" aria-hidden="true"></i>
                                                    </a>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="t_bor">
                                                    <div class="btn-group btn-group-sm">
                                                        <a href="#" class="btn btn-info-edit">
                                                            <i class="far fa-edit"></i> Sửa
                                                        </a>
                                                    </div>
                                                    <div class="btn-group btn-group-sm">
                                                        <a href="#" class="btn btn-info-delete">
                                                            <i class="fa fa-trash" aria-hidden="true"></i> Xóa
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr> -->

                                    </tbody>

                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-5">
                                <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div>
                            </div>
                            <div class="col-sm-12 col-md-7">
                                <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                                    <ul class="pagination">
                                        <li class="paginate_button page-item previous disabled" id="example1_previous"><a href="#" aria-controls="example1" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li>
                                        <li class="paginate_button page-item active"><a href="#" aria-controls="example1" data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                                        <li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="2" tabindex="0" class="page-link">2</a></li>
                                        <li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="3" tabindex="0" class="page-link">3</a></li>
                                        <li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="4" tabindex="0" class="page-link">4</a></li>
                                        <li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="5" tabindex="0" class="page-link">5</a></li>
                                        <li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="6" tabindex="0" class="page-link">6</a></li>
                                        <li class="paginate_button page-item next" id="example1_next"><a href="#" aria-controls="example1" data-dt-idx="7" tabindex="0" class="page-link">Next</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">

                        </div>
                        <div class="modal-body">
                            <p>Bạn có muốn thay đổi trạng thái?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Yes</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>





        <!-- /.row (main row) -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
